body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.introduktion-container {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.introduktion-indhold {
  text-align: center;
  opacity: 0;
  animation: fadeIn 3s ease-in-out forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(-50px); }
  85% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-100px); }
}
  